<div class="contenidotabla" ng-cloack ng-controller='playersController'>
	<h3>Liga Flora Profesional</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Posición</th>
					<th>Jugador</th>
					<th>Partidos Jugados</th>
					<th>Puntuación</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-cloack ng-repeat="player in playersList">
					<form novalidate class="simple-form">
						<td><a href="#" ng-click="deletePlayer(player)">Delete</a></div>{{$index + 1}}</td>
						<td>
							<!-- <img src="img/flags/{{driver.Driver.nationality}}.png" /> -->
							<a href="#/player/{{player.name}}">
								{{player.name}}
							</a>
						</td>
						<td>{{player.partidosJ}}</td>
						<td>{{player.points}}</td>
						<td><button class="btn btn-sm btn-success" ng-click="update(player,3)">Gana</button>
							<button class="btn btn-sm btn-warning" ng-click="update(player,1)">Empata</button>
							<button class="btn btn-sm btn-danger" ng-click="update(player,0)">Pierde</button>
						</td>
					</form>
				</tr>
			</tbody>
		</table>
</div>

<div ng-controller='playerAcciones'>
	

     <button class="btn btn-success" ng-click="addPlayer()"><span class="glyphicon glyphicon-pushpin"></span>Añadir jugador</button>
    <!-- Así lo ocultaríamos sin más: <section id="modalNota" ng-show="false">,
    pero recogemos ese valor de la función para visibilizarlo con el botón anterior.
    Ver http://scotch.io/tutorials/javascript/how-to-use-ngshow-and-nghide
    y http://www.nganimate.org/ -->
    <section id="modalNota" ng-show="getShowPlayer()">		
        <article id="modalNotaDesarrollo">
            <header class="titularModales"><span class="notaCerrar" ng-click="addPlayer()">x</span>Añadir Jugador</header>
            <!-- form https://docs.angularjs.org/guide/forms -->
            <form name="formPlayer" ng-submit="submitAddPlayer()">
                <p><label for="name">Nombre</label><br />
                    <!-- Obsérvese la directiva ng-model en los inputs, que es la que "recogemos" en el controller -->
                    <input type="text" name="name" id="name" ng-model="formPlayer.inputName" /></p>
                <p><label for="nationality">Nacionalidad</label><br />
                    <textarea  name="nationality" id="nationality" ng-model="formPlayer.inputNationality"></textarea></p>
                <p><label for="team">Equipo</label><br />
                    <input type="text" name="team" id="team" ng-model="formPlayer.inpuTeam" /></p>
                <p><button>Añadir jugador</button></p>
            </form>
        </article>        
    </section>
</div>