<div class="contenidotabla" ng-cloack ng-controller='playersController'>
	<h3>Liga Flora Profesional</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Posición</th>
					<th>Jugador</th>
					<th>Partidos Jugados</th>
					<th>Puntuación</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-cloack ng-repeat="player in playersList">
					<form novalidate class="simple-form">
						<td>{{$index + 1}}</td>
						<td>
							<!-- <img src="img/flags/{{driver.Driver.nationality}}.png" /> -->
							<a href="#/player/{{player.name}}">
								{{player.name}}
							</a>
						</td>
						<td>{{player.partidosJ}}</td>
						<td>{{player.points}}</td>
						<td><button title="Gana" alt="Gana" class="glyphicon glyphicon-thumbs-up btn btn-sm btn-success" ng-click="update(player,3)"></button>
							<button title="Empata" alt="Empata" class="glyphicon glyphicon-transfer btn btn-sm btn-warning" ng-click="update(player,1)"></button>
							<button title="Pierde" alt="Pierde" class="glyphicon glyphicon-thumbs-down btn btn-sm btn-danger" ng-click="update(player,0)"></button>
							<a title="Eliminar" alt="Eliminar" href="#" ng-click="launch('confirm','Eliminar jugador','¿Deseas eliminar al jugador?',deletePlayer,player)" class=" glyphicon glyphicon-trash btn btn-sm btn-danger remove_fields"></a>
							<!-- <a href="#" ng-click="deletePlayer(player)" class=" glyphicon glyphicon-trash btn btn-xs btn-danger remove_fields"></a> -->
						</td>
					</form>
				</tr>
			</tbody>
		</table>
</div>
<div ng-controller='playerAcciones'>
	

     <button class="btn btn-success" ng-click="launch('custom2')"><span class="glyphicon glyphicon-user"></span>Añadir jugador</button>
    
</div>